In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import os

# I. Oceanic Nino Index

## I.A.: 3-Month Mean Oceanic Nino Index
Source: NOAA Climate Prediction Center
https://origin.cpc.ncep.noaa.gov/products/analysis_monitoring/ensostuff/ONI_v5.php
"Oceanic Nino Index (ONI) [3 month running mean of ERSST.v5 SST anomalies in the Nino 3.4 region (5oN-5oS, 120o-170oW)], based on centered 30-year base periods updated every 5 years."

In [5]:
data_dir = '/Users/barretttravis/Development/01_2024_ML_Bootcamp/03_Capstone/data/NOAA_ONI'
oni_3monthrunningmean = pd.read_csv(os.path.join(data_dir,'ONI_Oceanic_Nino_Index_3monthrunningmean.csv'))
oni_3monthrunningmean

    Year  DJF  JFM  FMA  MAM  AMJ  MJJ  JJA  JAS  ASO  SON  OND  NDJ
0   1950 -1.5 -1.3 -1.2 -1.2 -1.1 -0.9 -0.5 -0.4 -0.4 -0.4 -0.6 -0.8
1   1951 -0.8 -0.5 -0.2  0.2  0.4  0.6  0.7  0.9  1.0  1.2  1.0  0.8
2   1952  0.5  0.4  0.3  0.3  0.2  0.0 -0.1  0.0  0.2  0.1  0.0  0.1
3   1953  0.4  0.6  0.6  0.7  0.8  0.8  0.7  0.7  0.8  0.8  0.8  0.8
4   1954  0.8  0.5  0.0 -0.4 -0.5 -0.5 -0.6 -0.8 -0.9 -0.8 -0.7 -0.7
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
70  2020  0.5  0.5  0.4  0.2 -0.1 -0.3 -0.4 -0.6 -0.9 -1.2 -1.3 -1.2
71  2021 -1.0 -0.9 -0.8 -0.7 -0.5 -0.4 -0.4 -0.5 -0.7 -0.8 -1.0 -1.0
72  2022 -1.0 -0.9 -1.0 -1.1 -1.0 -0.9 -0.8 -0.9 -1.0 -1.0 -0.9 -0.8
73  2023 -0.7 -0.4 -0.1  0.2  0.5  0.8  1.1  1.3  1.6  1.8  1.9  2.0
74  2024  1.8  1.5  1.1  0.7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[75 rows x 13 columns]

## I.B: Monthly Oceanic Nino Index (ONI) Anomaly
Source: https://origin.cpc.ncep.noaa.gov/products/analysis_monitoring/ensostuff/ONI_change.shtml
Monthly ONI data adjusted for the 30-year climatological period to calculate the anomaly

"Due to a significant warming trend in the Niño-3.4 region since 1950, El Niño and La Niña episodes that are defined by a single fixed 30-year base period (e.g. 1981-2010) are increasingly incorporating longer-term trends that do not reflect interannual ENSO variability. In order to remove this warming trend, CPC is adopting a new strategy to update the base period."

In [12]:
monthly_nino_index = pd.read_fwf(os.path.join(data_dir,'Monthly_Nino_3.4_Index.txt'), skiprows=5, header=None,
                                names = ['year','month','ONI_total','ONI_climAdjust','ONI_anom'])
monthly_nino_index

     year  month  ONI_total  ONI_climAdjust  ONI_anom
0    1950      5      26.19           27.56     -1.37
1    1950      6      26.47           27.21     -0.74
2    1950      7      26.28           26.72     -0.44
3    1950      8      25.88           26.30     -0.42
4    1950      9      25.73           26.14     -0.41
..    ...    ...        ...             ...       ...
884  2024      1      28.37           26.55      1.82
885  2024      2      28.28           26.76      1.52
886  2024      3      28.42           27.29      1.13
887  2024      4      28.61           27.83      0.79
888  2024      5      28.26           27.94      0.32

[889 rows x 5 columns]

Recommendations on the use of this data: 
- Use I.B. (monthly data) rather than I.A. (3-month average)
- Use both the Anomaly ("ANOM") and actual ONI value (TOTAL)

In [13]:
monthly_nino_index.to_csv('Monthly_Nino_3.4_Index.csv')